.main-container {
  text-align: center;
  align-items: center;
  color: #2a9942;
}

.main-container .name {
  padding-top: 100px;
  font-size: 30px;
}

.main-container .footer {
  margin-top: 250px;
}

.main-container .signin {
  margin-top: 150px;
  font-size: 20px;
}

.main-container .signin a {
  font-size: 26px;
  color: #2a9942;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}